.page.theme_dark {

    --txt-color: #F1B2CE;
    --hover: #FF007066;
    --bright: #FF0070;
    --brightest: #DB00FF;
    --bg-color: #000028;


    --background: url('../images/cover-image-dark.png');
    --background-color: var(--bg-color);
    --highlight: var(--bright);
    --heading-color: var(--brightest);
    --highlighted-area: var(--bright);
    --text-color-highlight: var(--bright);
    --article-header-color: var(--bright);
    --text-color-main: var(--txt-color);
    --text-color-transparent: var(--bg-color);
    --text-button: var(--bright);
    --title-question: var(--bright);
    --shadow: var(--bright);
    --corner-color: var(--bright);
    --border-style: var(--bright);
    --border-style-hover: var(--hover);
    --rec-visibility: visible;
    --titles-text: var(--bg-color);
    --btn-text: var(--bright);

    .title-question {
        color: var(--bright);
    }

    .special-link {
        border-bottom: 1px solid currentColor;
    }
}

@media (prefers-color-scheme: dark) { /* variables for dark mode and special link style */
    :root {
        --txt-color: #F1B2CE;
        --hover: #FF007066;
        --bright: #FF0070;
        --brightest: #DB00FF;
        --bg-color: #000028;


        --background: url('../images/cover-image-dark.png');
        --background-color: var(--bg-color);
        --highlight: var(--bright);
        --heading-color: var(--brightest);
        --highlighted-area: var(--bright);
        --text-color-highlight: var(--bright);
        --article-header-color: var(--bright);
        --text-color-main: var(--txt-color);
        --text-color-transparent: var(--bg-color);
        --text-button: var(--bright);
        --title-question: var(--bright);
        --shadow: var(--bright);
        --corner-color: var(--bright);
        --border-style: var(--bright);
        --border-style-hover: var(--hover);
        --rec-visibility: visible;
        --titles-text: var(--bg-color);
        --btn-text: var(--bright);
    }

    .title-question {
        color: var(--bright);
    }

    .special-link {
        border-bottom: 1px solid currentColor;
    }
}
