.page.theme_dark {

    --dark: #000028;
    --dusk: #353430;
    --light: #F1B2CE;
    --hover: #FF007066;
    --bright: #FF0070;
    --brightest: #DB00FF;

    --background: url('../images/cover-image-dark.png');
    --background-color: var(--dark);
    --highlight: var(--bright);
    --heading-color: var(--brightest);
    --text-color-highlight: var(--bright);
    --article-header-color: var(--bright);
    --text-color-main: var(--light);
    --text-color-transparent: var(--dark);
    --text-button: var(--bright);
    --shadow: var(--bright);
    --corner-color: var(--bright);
    --border-style: var(--bright);
    --border-style__hover: var(--hover);

    --rec-visibility: visible;

}
@media (prefers-color-scheme: dark) { /* variables for dark mode and special link style */
    :root {
        --dark: #000028;
        --dusk: #353430;
        --light: #F1B2CE;
        --hover: #FF007066;
        --bright: #FF0070;
        --brightest: #DB00FF;

        --background: url('../images/cover-image-dark.png');
        --background-color: var(--dark);
        --highlight: var(--bright);
        --heading-color: var(--brightest);
        --highlighted-area: var(--bright);
        --text-color-highlight: var(--bright);
        --article-header-color: var(--bright);
        --text-color-main: var(--light);
        --text-color-transparent: var(--dark);
        --text-button: var(--bright);
        --shadow: var(--bright);
        --corner-color: var(--bright);
        --border-style: var(--bright);
        --border-style__hover: var(--hover);
        --rec-visibility: visible;
        --title-question: var(--bright);
    }

}
