body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.page {
    background-color: var(--background-color);
    min-width: 375px;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Rec-symbol  */

.rec-symbol {
    position: absolute;
    display: flex;
    gap: 10px;
    color: var(--highlight);
    top: 1px;
    right: 8px;
    font-size: 18px;
    grid-area: top-row;
    justify-self: end;
    visibility: var(--rec-visibility);
}

.rec-symbol::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--highlight);
    background-color: var(--highlight);
    align-self: center;
    justify-self: center;
}

/* Header */

.header {
    position: relative;
    display: grid;
    padding: var(--padding-mobile);
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
   "top-row"
   "second-row"
   "third-row";
    height: 100vh;
    min-height: 668px;
    color: var(--btn-text);
}

.decorated-zone {
    padding: var(--padding-mobile);
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--corner-color);
    border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--corner-color);
    border-block-end: 1px solid var(--corner-color);
}

.header__theme-menu {
    display: grid;
    grid-area: top-row;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-mobile);
    justify-self: end;
    align-self: center;
    max-height: fit-content;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    text-align: center;
    color: currentColor;
    font-size: var(--font-size);
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.page-title {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--shadow);
    line-height: var(--line-height-title);
    grid-area: second-row;
}

.header__title {
    color: var(--titles-text);
    font-weight: 700;
    background: var(--highlight);
    align-self: center;
    justify-self: end;
    grid-area: third-row;
}

.header__theme-menu-button:hover {
    outline-offset: 1px;
    border: 1px solid var(--border-style-hover);
}

.header__theme-menu-button_active {
    border: 1px solid currentColor;
    outline-offset: 1px;
    pointer-events: none;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid currentColor;
}

/* Main */

main {
    padding-top: 30px;
}

.main a {
    text-decoration: none;
    text-shadow: 1px 1px 0 var(--text-color-highlight);
}

.main a:hover {
    border-bottom: 1px solid currentColor;
}

.main a:focus {
    border: 1px solid currentColor;
    outline-offset: 1px;
    pointer-events: none;
}

.main a:focus-visible {
    border: 1px solid currentColor;
}


.content-section {
    padding: var(--padding-mobile);
    margin-bottom: 10px;
}

.title-question {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    color: var(--title-question);
    padding-bottom: 20px;
    line-height: var(--line-height);
    grid-column: 1;
    grid-row: 1 / 5;
}

.main-text-container {
    grid-column: 2;
    width: 100%;
}

/* Pictures */
.pictures__title {
    color: var(--text-color-transparent);
    background-color: var(--highlight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-top: 20px;
    margin-inline: 10px;
}

.pictures__list img {
    width: 100%;
    /*
    height: auto;
    */
    object-fit: cover;
}

.pictures__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding: var(--padding-mobile);
}

.pictures__item {
    width: 100%;
}

.pictures {
    padding-bottom: 35px;
}

/* Other    */

/*h2, h3, h4 {
    text-align: left;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
}*/

.title-gap {
    font-size: var(--font-size);
    color: var(--titles-text);
    background-color: var(--bright);
    margin-bottom: var(--padding-desktop);
}

.article-header {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    color: var(--titles-text);
    background-color: var(--article-header-color);
}

.title-thin {
    font-weight: var(--font-weight-normal);
    }

.article-text {
    text-align: left;
    font-weight: var(--font-weight-normal);
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-desktop);
    line-height: var(--line-height);
}

/* Footer */
.footer {
    height: 100vh;
    min-height: 668px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-self: center;
}

.footer__title {
    margin: 0;
    grid-row: 2;
    justify-self: center;
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
    text-shadow: 2px 2px 0 var(--shadow);
    font-size: var(--title-size);
}

@media (width > 767px) {
    /* Resolution bigger than 768px */
    .header,
    .footer {
        height: 100vh;
        min-height: 1024px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .page {
        min-width: 768px;
        max-width: 990px;
    }

    .header {
        padding: var(--padding-desktop);
        /*** grid-template-rows: 1fr min-content 1fr; ***/
    }

    .header__theme-menu {
        justify-self: end;
        align-self: center;
    }

    .page-title {
        margin-left: calc(var(--padding-desktop) * -1);
    }

    .header__title {
        width: 364px;
    }

    .content-section {
        display: grid;
        grid-template-columns: auto 65%;
        padding: 30px 20px 20px 20px;
        margin-block-start: 0;
        grid-template-areas:
    "top"
    "middle"
    "bottom";
    }

    .concentration-question {
        width: 90%;
    }

    .distractions-section {
        display: revert;
    }

    .distractions-question {
        width: 30%;
    }

    .title-gap {
        block-size: fit-content;
    }

    .text-intro {
        grid-column: 1;
    }

    .text-continuation {
        grid-column: 2;
    }

    .text-conclusion {
        grid-column: 3;
    }

    .pictures__list {
        padding: 0 var(--padding-desktop);
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: var(--padding-desktop);
        margin-top: 20px;
        grid-gap: 20px;
        padding-bottom: 60px;
    }

    .pictures__item {
        display: grid;
        align-items: stretch;
    }

    .pictures__title {
        margin-top: 45px;
    }


    .pictures__item:nth-of-type(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
    }


    .pictures__item:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
    }


    .pictures__item:nth-of-type(3) {
        grid-column: 1;
        grid-row: 2 / span 2;
    }


    .pictures__item:nth-of-type(4) {
        grid-column: 2;
        grid-row: 2;
    }


    .pictures__item:nth-of-type(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    .pictures__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pictures {
        padding-bottom: 0;
    }

    .footer {
        min-height: 1024px;
        padding: var(--padding-desktop);
    }

    .footer__title {
        font-size: var(--title-size);
        line-height: 6.188rem;
    }
}

@media (width > 1023px) {
    /* Resolution bigger than 1023px */
    .page {
        max-width: 1600px;
        min-width: 1024px;
    }

    .header, .footer {
        height: 100vh;
        min-height: 768px;
    }


    .header {
        padding: 20px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .page-title {
        line-height: 8.096rem;
        grid-area: second-row;
    }

    .header__title {
        width: 491px;
    }

    .title-question {
        padding-bottom: 0;
    }

    .content-section {
        grid-template-columns: auto 66%;
        column-gap: 20px;
    }

    .distractions-question {
        width: 90%;
        padding-bottom: 20px;
    }

    .distractions-section {
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    }

    .text-article {
        margin-block-start: var(--padding-desktop);
    }

    .pictures__title {
        margin-inline: var(--padding-desktop);
        margin-block: 40px 10px;
    }
}

@media (width < 375px) {
    /* Rec-symbol visibility for resolution smaller than 375px */
    .rec-symbol {
        visibility: var(--rec-visibility);
    }

    .header,
    .footer {
        width: clamp(375px, 100vw, 400px);
        height: clamp(668px, 100vh, 768px);
    }
}
