body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.page {
    background-color: var(--background-color);
    min-width: 375px;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Rec-symbol  */

.rec-symbol {
    position: absolute;
    display: flex;
    gap: 10px;
    color: var(--highlight);
    top: 1px;
    right: 8px;
    font-size: 18px;
    grid-area: top-row;
    justify-self: end;
    visibility: var(--rec-visibility);
}

.rec-symbol::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--highlight);
    background-color: var(--highlight);
    align-self: center;
    justify-self: center;
}

/* Header */

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
   "top-row"
   "second-row"
   "third-row";
    height: 100vh;
    min-height: 668px;
    color: var(--btn-text);
}

.decorated-zone {
    padding: var(--padding-mobile);
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid var(--corner-color);
    border-block-start: 1px solid var(--corner-color);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid var(--corner-color);
    border-block-end: 1px solid var(--corner-color);
}

.header__theme-menu {
    display: grid;
    grid-area: top-row;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--padding-mobile);
    justify-self: end;
    align-self: center;
    max-height: fit-content;
}

.header__theme-menu-button {
    width: 70px;
    height: 26px;
    border: none;
    text-align: center;
    color: currentColor;
    font-size: var(--font-size);
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.page-title {
    color: var(--heading-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--title-size);
    text-shadow: 4px 4px 0 var(--shadow);
    line-height: var(--line-height-title);
    grid-area: second-row;
}

.header__title {
    color: var(--titles-text);
    font-weight: 700;
    background: var(--highlight);
    align-self: center;
    justify-self: end;
    grid-area: third-row;
}

.header__theme-menu-button:hover {
    outline-offset: 1px;
    border: 1px solid var(--border-style-hover);
}

.header__theme-menu-button_active {
    border: 1px solid currentColor;
    outline-offset: 1px;
    pointer-events: none;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid currentColor;
}

/* Main */

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    margin-top: 30px;
    row-gap: var(--padding-mobile);

    a {
        text-decoration: none;
        text-shadow: 1px 1px 0 var(--text-color-highlight);
    }

    a:hover {
        border-bottom: 1px solid currentColor;
    }

    a:focus {
        border: 1px solid currentColor;
        outline-offset: 1px;
        pointer-events: none;
    }

    a:focus-visible {
        border: 1px solid currentColor;
    }
}

/* Text sections */
.content-section {
    padding: var(--padding-mobile);
}

.title-question {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    color: var(--title-question);
    padding-bottom: 20px;
    line-height: var(--line-height);
}

.article-header {
    font-size: var(--font-size);
    color: var(--titles-text);
    background-color: var(--article-header-color);
}

.title-thin {
    font-weight: var(--font-weight-normal);
}

.article-text {
    padding-top: var(--padding-mobile);
    padding-bottom: var(--padding-desktop);
}

/* Pictures */

.pictures__list img {
    width: 100%;
    object-fit: cover;
}

.pictures__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding-top: 10px;
}

.pictures__item {
    width: 100%;
}


.title-gap {
    font-size: var(--font-size);
    color: var(--titles-text);
    background-color: var(--bright);
    margin-bottom: var(--padding-desktop);
}


/* Footer */
.footer {
    margin-top: 30px;
    height: 100vh;
    min-height: 668px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    align-self: center;
}

.footer__title {
    grid-row: 2;
    justify-self: center;
    font-weight: var(--font-weight-bold);
    color: var(--heading-color);
    text-shadow: 2px 2px 0 var(--shadow);
    font-size: var(--title-size);
}

@media (width > 767px) {
    /* Resolution for tablets, 768px min */
    .header,
    .footer {
        min-height: 1024px;
    }

    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }

    .page {
        min-width: 768px;
        max-width: 990px;
    }

    .header {
        padding: var(--padding-desktop);
    }

    .header__theme-menu {
        justify-self: end;
        align-self: center;
    }

    .page-title {
        margin-left: calc(var(--padding-desktop) * -1);
    }

    .header__title {
        width: 364px;
    }

    .main {
        margin-top: 50px;
        padding: 0 var(--padding-mobile);
        row-gap: 40px;
    }

    .content-section {
        display: grid;
        grid-template-columns: 238px 1fr;
        column-gap: var(--padding-desktop);
    }

    .title-question {
        grid-row: 1 / span 10;
        width: 230px;
    }

    .text-intro, .text-continuation, .text-conclusion {
        grid-column: 1 / 3;
    }

    .pictures__list {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        gap: var(--padding-desktop);
        margin-top: var(--padding-mobile);
    }

    .pictures__item {
        display: grid;
        align-items: stretch;
    }


    .pictures__item:nth-of-type(1) {
        grid-column: 1 / span 2;
        grid-row: 1;
    }


    .pictures__item:nth-of-type(2) {
        grid-column: 3;
        grid-row: 1 / span 2;
    }


    .pictures__item:nth-of-type(3) {
        grid-column: 1;
        grid-row: 2 / span 2;
    }


    .pictures__item:nth-of-type(4) {
        grid-column: 2;
        grid-row: 2;
    }


    .pictures__item:nth-of-type(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    .pictures__item img {
        height: 100%;
    }

    .footer {
        margin-top: 50px;
        min-height: 1024px;
        padding: var(--padding-desktop);
    }

    .footer__title {
        font-size: var(--title-size);
        line-height: 6.188rem;
    }
}

@media (width > 1023px) {
    /* Resolution for desktops, 1024px min */
    .page {
        max-width: 1600px;
        min-width: 1024px;
    }

    .header, .footer {
        height: 100vh;
        min-height: 768px;
    }


    .header {
        padding: 20px;
    }

    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .page-title {
        line-height: 8.096rem;
        grid-area: second-row;
    }

    .header__title {
        width: 491px;
    }

    .content-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-top {
        article {
            grid-column: 2 / span 3;
        }
    }

    .section-middle {
        align-items: start;
        .title-question {
            grid-column: 1 / span 3;
        }
    }

    .section-bottom {

    }

    article {
        display: grid;
    }

    .article-header {
        height: 23px;
    }

    .title-question {
        line-height: 1.35em;
        width: 316px;
    }

    .text-intro {
        grid-column: 1;
    }

    .text-continuation {
        grid-column: 2;
    }

    .text-conclusion {
        grid-column: 3;
    }

    .text-article {
        margin-block-start: var(--padding-desktop);
    }

    .title-gap {
        grid-column: 2 / span 3;
    }

}

